body {
  background-color: var(--body-bg);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--light-text-color);
}
.signup-card {
  background-color: var(--blank-bg);
  max-width: 35%;
  margin: 4% auto;
  box-shadow: 2px 2px 3px grey;
  border-radius: 16px;
  padding: 32px 0px;
  font-size: 16px;
}
.heading-2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 48px;
}
.form-input {
  width: 70%;
  margin: 24px auto;
}
.signup-btn {
  padding: 8px 16px;
  width: 70%;
  margin: 48px auto 24px auto;
}
.google-icon {
  height: 40px;
  display: flex;
  align-items: center;
  width: 40px;
  background: #fff;
  border-radius: 5px;
  justify-content: center;
}
.google-btn {
  width: 50%;
  min-width: fit-content;
  padding: 2px;
  display: flex;
  align-items: center;
  margin: auto;
  background: #4285f4;
  color: #fff;
  box-shadow: 4px 4px 2px 0 rgb(0 0 0 / 25%);
  border-radius: 5px;
}
.google-btn > * {
  padding: 2px 10px;
}
.google-btn:hover {
  cursor: pointer;
}
.divider-container {
  width: 80%;
  margin: auto;
}
.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after {
  border-top: 4px solid rgb(231, 230, 230);
}
@media only screen and (max-width: 1000px) {
  .signup-card {
    max-width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .signup-card {
    max-width: 80%;
  }
}
