.toolbar-cont {
    background-color: transparent;
    position: fixed;
    height: 100%;
    top: 0px;
}
.tool-btn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
    border: 1px solid lightgray;
    display: block;
    margin: 20px 20px;
    cursor: pointer;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
.tool-btn svg {
    vertical-align: middle;
}
.tool-btn:hover {
    box-shadow: 0px 5px 5px -2px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 2px 9px 0px rgb(0 0 0 / 12%);
}
.tool-btn:active {
    background-color: rgb(233, 233, 233);
}
.index-cont {
    width: 225px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 1);
    height: 95vh;
    padding: 8px;
    border-radius: 20px;
    transition: right 0.2s ease;
}
.contents-list {
    overflow: auto;
}
.content-item {
    margin: 2px;
    cursor: pointer;
    padding: 8px 16px;
}
.content-item:hover {
    /* box-shadow: 0px 0px 8px 2px lightgray; */
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    border-radius: 8px;
    background-color: white;
}
.title-cont {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.close-btn {
    background-color: rgba(255, 255, 255, 0.582);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 35px;
}
.close-btn > svg {
    vertical-align: middle;
    height: 20px;
}
.close-btn:hover {
    background-color: rgba(255, 255, 255, 0.582);
    box-shadow: 0px 0px 8px 2px lightgray;
}
.title {
    margin: 0px 0px;
    font-size: 24px;
}
.book-cont {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.book-page {
    margin: 16px auto;
    display: block;
    padding: 16px;
    overflow: hidden;
    max-width: 60%;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
.book-title {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    padding: 20px 100px;
    font-size: 24px;
}
.elevated {
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px lightgray;
}

.highlight-color {
    background-color: yellow;
}

.info-cont {
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 16px;
    max-width: 300px;
    transition: right 0.2s ease;
}
.info-title-cont {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}
.main-info-cont {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}
.info-bookname {
    font-size: 18px;
}
.main-info-cont div {
    margin: 4px;
}
.genres-cont {
    display: flex;
    flex-flow: row wrap;
}
.genre-badge {
    background-color: lightgray;
    width: fit-content;
    padding: 2px 6px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.genre-badge div {
    margin-right: 8px;
    background-color: white;
    width: 6px;
    height: 6px;
    border-radius: 3px;
}
.bookmark-cont {
    top: 100px;
    left: 80px;
    position: fixed;
    width: 200px;
    flex-direction: column;
    border-radius: 5px 15px 15px 15px;
    background-color: white;
}
.add-btn {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}
.bkmrk-item {
    padding: 4px 8px;
    align-self: center;
    width: 100%;
}
.bkmrk-item:hover {
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    border-radius: 8px;
}
.bkmrk-item > svg {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.delete-btn {
    padding: 3px;
    height: 30px;
    width: 30px;
}
.icon-bk {
    position: fixed;
    top: 0px;
    left: 0px;
}
.highlight-cont {
    position: fixed;
    top:  140px;
    left: 70px;
    background-color: white;
    width: 150px;
    height: 50px;
    border-radius: 5px 15px 15px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.color-block {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.selected-color {
    border: 1px solid gray;
}